.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #00af3f;
}

.Danger {
    color:  #00af3f;
}

.Button:disabled{
    color: #ccc;
    cursor:not-allowed;
}
.Button:hover{
    color: #3fbd6d
}
